
@charset "UTF-8";
@import 'common/mixin';

.sub-visual {
    height: 70vh;
    background-color: #e8e8e8;
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

.sub-visual__title {
    @include fontStyle(52px, 700, null, #000);
}

.contents {
    padding: 80px 0;
    &__inner {
        @include innerStyle;
    }
}

// breadcrumb
.breadcrumb {
    border-bottom: 1px solid #e8e8e8;
    &__inner {
        @include innerStyle;
    }
    &__menu {
        > ul {
            display: inline-flex;
            > li {
                position: relative;
                border-right: 1px solid #e8e8e8;
                font-size: 0;
            }
        }
    }
    .btn-home {
        display: inline-block;
        width: 45px;
        height: 45px;
        background-color: #ddd;
        font-size: 0;
    }
    &__depth1 > button , &__depth2 > button {
        display: inline-block;
        min-width: 250px;
        @include fontStyle(18px, null, 45px, #1a1a1a);
        padding: 0 25px;
        @include ellipsis(1);
        text-align: left;
        &::before {
            content:'';
            position: absolute;
            top: 50%;
            right: 10px;
            display: inline-block;
            border-top: 7px solid #000;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 0px solid transparent;
            transform: translateY(-50%);
            transition: 0.18s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
    &__depth1, &__depth2 {
        &.active {
            > button {
                &::before {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
    }
    &__submenu {
        position: absolute;
        top: 46px;
        left: -1px; // 위치 보정
        width: calc(100% + 2px); // 너비 차이 보정
        border: 1px solid #e8e8e8;
        border-top: none;
        background-color: #fff;
        li {
            & + li {
                border-top: 1px solid #e8e8e8;
            }
            a {
                position: relative;
                display: block;
                padding: 0 25px;
                text-align: left;
                @include fontStyle(16px, 400, 36px, null);
            }
            &.active {
                a {
                    @include fontStyle(null, 700, null, red);
                }
            }
        }
    }
}