<div class="floating-menu">
    <div class="floating-menu__container">
        <ul>
            <li>
                <button type="button" class="btn btn-top">
                    <span class="btn-top__icon">TOP BUTTON</span>
                </button>
            </li>
        </ul>
    </div>
</div>
