<footer class="footer">
    <div class="footer__inner">
        <div class="footer__left">
            <div class="footer__logo">
                <img src="/resources/assets/images/common/logo.svg" alt="LOGO" />
            </div>
            <div class="footer__address">
                <address>
                    <ul>
                        <li><strong>주소</strong><span></span></li>
                        <li><strong>주소</strong><span></span></li>
                        <li><strong>주소</strong><span></span></li>
                        <li><strong>주소</strong><span></span></li>
                    </ul>
                </address>
            </div>
        </div>
        <div class="footer__right">
            <div class="footer__sns"></div>
        </div>
    </div>
</footer>
