<head>
    <title>
        <% const mainTitle = menuLists.main.title; const depth1Menu = menuLists.menus[depth1]; const depth1Title = depth1Menu ? depth1Menu.title : ''; let pageTitle = ''; if (depth1Menu && depth1Menu.depth2) { const pageTitleItem = Object.values(depth1Menu.depth2).find(item =>
        item.url.includes(pageName)); pageTitle = pageTitleItem ? pageTitleItem.title : ''; } %> <% if (depth1 === 'index.html') { %> <%= mainTitle %> <% } else { %> <%= pageTitle + " | " + depth1Title + " | " + mainTitle %> <% } %>
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" href="/favicon.ico" />
    <!-- SEO -->
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="BDOT CREATIVE" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="" />
    <meta name="twitter:card" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />
    <!-- RESOURCES -->
    <link rel="stylesheet" href="/resources/assets/css/common.css" />
    <% if (depth1 === 'main') { %>
    <link rel="stylesheet" href="/resources/assets/css/main.css" />
    <% } else { %>
    <link rel="stylesheet" href="/resources/assets/css/sub.css" />
    <% } %>
    <script defer src="/resources/assets/script/common.js"></script>
</head>
