<head>
    <title>Main</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../resources/assets/css/common.css" />
    <% if (depth1 !== '') { %>
    <link rel="stylesheet" href="../resources/assets/css/sub.css" />
    <% } else { %>
    <link rel="stylesheet" href="../resources/assets/css/main.css" />
    <% } %>
</head>
