<!DOCTYPE html>
<html lang="ko">
    <%- include("../include/head.ejs", {depth1: "Menu1", pageName: "index1"}) %>
    <body>
        <div class="wrap">
            <%- include("../include/header.ejs", {depth1: "Menu1", pageName: "index1"}) %>
            <div class="container">
                <div class="sub-visual">
                    <div class="sub-visual__inner"></div>
                </div>
                <%- include("../include/breadCrumb.ejs", {depth1: "Menu1", pageName: "index2"}) %>
            </div>
        </div>
    </body>
</html>
