<!DOCTYPE html>
<html lang="ko">
    <%- include("../include/head.ejs") %>
    <body>
        <div class="wrap">
            <%- include("../include/header.ejs", { headerType: 'header--change' }) %>
            <div class="container">
                <div class="sub-visual">
                    <div class="sub-visual__inner"><%- include("../include/subVisualTitle.ejs") %></div>
                </div>
                <%- include("../include/breadCrumb.ejs") %>
                <div class="contents">
                    <div class="contents__inner">
                        <article class="article">
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                            BDOT CREATIVE<br />
                        </article>
                    </div>
                </div>
            </div>
            <%- include("../include/footer.ejs") %>
        </div>
    </body>
</html>
