<!DOCTYPE html>
<html lang="ko">
    <%- include("../include/head.ejs") %>
    <body>
        <div class="wrap">
            <%- include("../include/header.ejs") %>
            <div class="container">
                <div class="sub-visual">
                    <div class="sub-visual__inner"><%- include("../include/subVisualTitle.ejs") %></div>
                </div>
                <%- include("../include/breadCrumb.ejs") %>
                <div class="contents"></div>
            </div>
            <%- include("../include/footer.ejs") %>
        </div>
    </body>
</html>
